<div class="reservation-container">
  <div class="reservation-header">Mes Réservations</div>
  <% @bookings.each do |booking| %>
    <div class="reservation-card">
      <img src="https://www.jardiner-malin.fr/wp-content/uploads/2021/12/Cactophile-cactus-succulente.jpg" alt="Cactus">
      <div class="reservation-details">
        <h3 class="reservation-title"><%= booking.plant.name %></h3>
        <p>Date: <%= booking.created_at %></p>
        <p>Louer du : <%= booking.start_date %> au <%= booking.end_date %></p>
        <p>Total : <%= booking.total_price %> €</p>
        <p>Statut: En attente</p>
        <button class="reservation-button">Voir les détails</button>
        <button class="cancel-button">Annuler</button>
      </div>
    </div>
  <% end %>

  <div class="reservation-card">
    <img src="https://www.jardiner-malin.fr/wp-content/uploads/2021/12/Cactophile-cactus-succulente.jpg" alt="Cactus">
    <div class="reservation-details">
      <h3 class="reservation-title">Cactus</h3>
      <p>Date: 2024-07-10</p>
      <p>Louer du : 2024-07-12 au 2024-07-13</p>
      <p>Total : 25 €</p>
      <p>Statut: En attente</p>
      <button class="reservation-button">Voir les détails</button>
      <button class="cancel-button">Annuler</button>
    </div>
  </div>

  <div class="reservation-card">
    <img src="https://fr-fr.bakker.com/cdn/shop/files/VIS_018129_2_BK_1705411406384.jpg?v=1705411425" alt="Monstera">
    <div class="reservation-details">
      <h3 class="reservation-title">Monstera</h3>
      <p>Date: 2024-06-14</p>
      <p>Louer du : 2024-06-15 au 2024-06-16</p>
      <p>Statut: Confirmé</p>
      <button class="reservation-button">Voir les détails</button>
      <button class="cancel-button">Annuler</button>
    </div>
  </div>
</div>
