<div class="reservation-container">
            <div class="reservation-header">Mes Réservations</div>
            <% @bookings.each do | booking | %>
            <div class="reservation-card">
                <img src="https://www.jardiner-malin.fr/wp-content/uploads/2021/12/Cactophile-cactus-succulente.jpg" alt="Cactus">
                <div class="reservation-details">
                    <h3 class="reservation-title"><%= booking.plant.name %></h3>
                    <p>Date: <%= booking.created_at %> </p>
                    <p>Loué du : <%= booking.start_date %> au <%= booking.end_date %></p>
                    <p>En location par : <%= booking.plant.user.username %>
                    <p>Total : <%= booking.total_price %> €</p>
                    <%= link_to "Annuler", booking_path(booking.plant, booking), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir annuler cette réservation ?" }, class: "btn btn-danger text-white" %>
                </div>
            </div>
            <% end %>
        </div>
