<div class="reservation-container">
  <div class="reservation-header">Mes Réservations</div>
  <% if @bookings.any? %>
    <% @bookings.each do | booking | %>
    <div class="reservation-card">
        <%= cl_image_tag booking.plant.photo.key,style: 'max-height: 250px; object-fit: crop;' %>
        <div class="reservation-details">
            <h3 class="reservation-title"><%= booking.plant.name %></h3>
            <p>Date: <%= booking.created_at %> </p>
            <p>Loué du : <%= booking.start_date %> au <%= booking.end_date %></p>
            <p>En location par : <%= booking.plant.user.username %>
            <p>Total : <%= booking.total_price %> €</p>
            <%= button_to 'Annuler la réservation', booking_path(booking), class:"sweetalert", method: :delete, data: { "turbo-method": :delete, turbo_confirm: "Etes-vous sur ?"} %>
        </div>
    </div>
    <% end %>
  <% else %>
  <div class="reservation-card p-5 mt-4 d-flex justify-content-center">
    <p class="mb-0 pb-5">Pas de réservation pour le moment</p>
  </div>
  <% end %>
</div>
