 <main>
  <section class="py-5 text-center plante-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1476595461800-421569e956f6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-lighter text-white">Découvrez les plantes Parisiennes</h1>
        <p class="lead text-white">Du géranium au petit cactus retrouvez tous les plantes nécéssaires pour votre intérieur ou vos évènements. Changez en quelques heures toute la décoration pour épater vos proches et vos invités.</p>
      </div>
    </div>
  </section>

  <div class="main-container d-flex">
    <div class="cards mt-3">
        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= offer.name %></h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

                <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

                <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>

        <div class="card">
          <img src="https://images.ctfassets.net/b85ozb2q358o/3YnA2pLFdMDnr3rx4KdCtQ/a1bf618906fba92504876d609cd043ab/comment-entretenir-les-cactus-et-plantes-grasses-5.jpg" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cactus</h5>
              <p class="card-text fw-lighter text-muted fs-6">Intérieur / Extérieur <br>Loué par : John Doe </p>
              <div class="d-flex justify-content-between align-items-center align-middle">
              <p class="mt-3">20€/Jour</p>
              <%= link_to "Voir détails", plants_path, class: "btn btn-success border-0 text-white" %>
              </div>
            </div>
        </div>



    </div>
      <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoibG91aXNjYW5vIiwiYSI6ImNseGx3ZzR2eDAxdzUybXNiNDBoMGx4NjUifQ.eVWGXr64VQyknMtuQrKjAg'>
  </div>
</main>
