<div class="mb-5 w-75 mx-auto">

   <%= cl_image_tag @plant.photo.key, class:"rounded mt-3 mb-3 img-fluid mx-auto d-block" %>

    <div class="">
      <div class="row ">
        <div class="col-8">
          <div class="card card-body mb-3">
            <h2><%= @plant.name %></h2>
            <p><small><%= @plant.description %></small></p>
            <p><small>En location par : <%= @plant.user.username %></small></p>
          </div>
        </div>

        <div class="col-4">
          <div class="">
              <div data-controller="booking" data-booking-price-value="<%= @plant.price %>" class="border p-3 rounded">
                <p class='fw-bold fs-3'><%= @plant.price %>€ <small class='fw-light'>jour</small></p>
                  <%= simple_form_for([@plant, @booking]) do |f| %>
                      <div class="d-flex flex-column">
                        <%= f.input :start_date, label: "Début", as: :string, input_html: { data: { controller: "datepicker", action: "change->booking#update", booking_target: "start_date" } }, id: 'booking_form'%>
                        <%= f.input :end_date, label: "Fin", as: :string, input_html: { data: { controller: "datepicker", action: "change->booking#update", booking_target: "end_date" } }, id: 'booking_form'%>
                        <p data-booking-target='info'></p>
                        <p><strong>Frais de réservation: 2 €</strong></p>
                        <p><strong>Entretien: 5 €</strong></p>
                        <p class='fw-bold' data-booking-target='total_price'></p>
                        <%= f.submit 'Réserver', class: 'btn btn-primary w-100' %>
                      </div>
                   <% end  %>

              </div>
            </div>
          </div>
        </div>
  </div>
</div>
