<!DOCTYPE html>
<html>
  <head>
    <title>AirPlant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'devise/shared/flashes' %>
    <%= render "/layouts/navbar" %>
    <%= yield %>
    <%= render "/layouts/footer" %>
  </body>
</html>
